<div ng-cloak>  
  <md-content layout-margin="">
    <div layout-wrap="" layout="row">
      <div flex="100">
        <div flex="100" layout="row">
          <div flex="" layout-margin="">
            <h3>Cabeçalho</h3>
          </div>
        </div>
        <md-card flex="100">
          <md-card-content>
            <div layout="row" layout-wrap="">
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Código</label>
                  <input ng-model="ctrl.notaFiscal.id" disabled>
                </md-input-container>
              </div>           
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Número da Nota</label>
                  <input ng-model="ctrl.notaFiscal.numero" disabled>
                </md-input-container>
              </div>
              <div flex="">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Chave da Nota</label>
                  <input ng-model="ctrl.notaFiscal.chave_nfe" disabled>
                </md-input-container>
              </div>
              
            </div>
            <div layout="row" layout-wrap="">              
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Tipo da nota</label>
                  <input ng-model="ctrl.notaFiscal.tipo" disabled>
                </md-input-container>
              </div>
              
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Codígo do Cliente</label>
                  <input ng-model="ctrl.notaFiscal.pessoaId" disabled>
                </md-input-container>
              </div>
              <div flex="30">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Codígo do Cliente</label>
                  <input ng-model="ctrl.notaFiscal.pessoa.nome" disabled>
                </md-input-container>
              </div>
              <div flex="30">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Data de Emissão</label>
                  <input ng-model="ctrl.notaFiscal.data_emssao" disabled>
                </md-input-container>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>


      <div flex="100">
        <div flex="100" layout="row">
          <div flex="" layout-margin="">
            <h3>Cabeçalho</h3>
          </div>
        </div>
        <md-card flex="100">
          <md-card-content>
            <div layout="row" layout-wrap="">
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Código</label>
                  <input ng-model="ctrl.notaFiscal.id" disabled>
                </md-input-container>
              </div>
           
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Número da Nota</label>
                  <input ng-model="ctrl.notaFiscal.numero" disabled>
                </md-input-container>
              </div>
              <div flex="">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Chave da Nota</label>
                  <input ng-model="ctrl.notaFiscal.chave_nfe" disabled>
                </md-input-container>
              </div>              
            </div>
            <div flex="100" layout-margin="">
              <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                <md-button class="md-primary" ng-click="ctrl.salvarAtualizar()">Adicionar Produto</md-button>
              </section>
      
            </div>
               <md-card flex="100">
          <md-card-content>
            <div layout="row" layout-wrap="">
              <table class="mdc-data-table__table">
                <thead>
                    <tr>
                      <th>Id</th>
                      <th>Descricão</th>
                      <th>CFOP</th>
                      <th>CST</th>
                      <th>QTD</th>
                      <th>Valor</th>
                      <th>Desc.</th>
                      <th>Acresc.</th>
                      <th>SubTotal</th>
                      <th style="display: none;">Total</th>
                    </tr>
                  </thead>
                  <tbody  class="mdc-data-table__content">
                    <tr ng-repeat="item in ctrl.notaFiscal.nota_itens" class="mdc-data-table__row" >
                      {{item}}
                    <td >{{item.id}}</td>
                    <td flex="40" class="mdc-data-table__cell">{{item.descricao}}</td>
                    <td class="mdc-data-table__cell">{{item.cfop}}</td>
                    <td class="mdc-data-table__cell">{{item.cst}}</td class="mdc-data-table__cell">
                    <td class="mdc-data-table__cell">{{item.quantidade}}</td class="mdc-data-table__cell">
                    <td class="mdc-data-table__cell">{{item.vl_venda}}</td class="mdc-data-table__cell">
                    <td class="mdc-data-table__cell"></td class="mdc-data-table__cell">
                    <td class="mdc-data-table__cell"></td class="mdc-data-table__cell">
                    <td class="mdc-data-table__cell"></td class="mdc-data-table__cell">
                    <td style="display: none;" class="mdc-data-table__cell"></td></tr>
                    
                  </tbody>
                  <tfoot></tfoot>
              </table>             
            </div>
          
          </md-card-content>
        </md-card>



          </md-card-content>
        </md-card>

      </div>  

      <div flex="100" layout-margin="">
        <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
          <md-button class="md-primary" ng-click="ctrl.salvarAtualizar()">Salvar</md-button>
          <md-button ng-click="ctrl.cancelar()" class="md-warn">Cancelar</md-button>
        </section>

      </div>

    </div>
  </md-content>
</div>