<div ng-cloak>
  <md-content layout-margin="">
    <div layout-wrap="" layout="row">
      <div flex="100">
        <div flex="100" layout="row">
          <div flex="" layout-margin="">
            <h3>Cabeçalho</h3>
          </div>
        </div>
        <md-card flex="100">
          <md-card-content>
            <div layout="row" layout-wrap="">
              <div flex="10">
                <md-input-container class="md-block">
                  <label>Código</label>
                  <input ng-model="ctrl.notaFiscal.cabecalho.id" disabled>
                </md-input-container>
              </div>
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Número da Nota</label>
                  <input ng-model="ctrl.notaFiscal.cabecalho.numero" disabled>
                </md-input-container>
              </div>
              <div flex="">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Chave da Nota</label>
                  <input ng-model="ctrl.notaFiscal.cabecalho.chave_nfe" >
                </md-input-container>
                <div ng-messages="colorForm.favoriteColor.$error">
                  <div ng-message="required">{{ctrl.notaFiscal.cabecalho["chave_nfe"].length}}</div>
                </div>
              </div>

            </div>
            <div layout="row" layout-wrap="">
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Tipo da nota</label>
                  <input ng-model="ctrl.notaFiscal.cabecalho.tipo" disabled>
                </md-input-container>
              </div>

              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Codigo do Cliente</label>
                  <input ng-model="ctrl.chosenClienteToAdd.id" disabled>
                </md-input-container>
              </div>
              <div flex="30">

                <md-autocomplete md-selected-item="ctrl.chosenClienteToAdd" md-floating-label="cliente" required=""
                  md-input-minlength="2" md-input-maxlength="18"
                  md-selected-item-change="ctrl.selectedClienteChange(item)" md-search-text="ctrl.searchCliente"
                  md-items="item in ctrl.querySearch(ctrl.searchCliente, 'cliente')" md-item-text="item.nome"
                  md-require-match="" input-aria-describedby="favoriteStateDescription">
                  <md-item-template>
                    <span>{{item.nome}}</span>
                  </md-item-template>
                </md-autocomplete>

              </div>
              <div flex="30">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Data de Emissão</label>
                  <input ng-model="ctrl.notaFiscal.cabecalho.data_emissao" ui-date-mask>
                </md-input-container>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
      <div flex="100">
        <md-card flex="100">
          <md-card-content layout-padding="1">
            <div layout="row" layout-wrap="">
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Codigo</label>
                  <input ng-model="ctrl.chosenItemToAdd.id" disabled>
                </md-input-container>
              </div>
              <div flex="17">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Codigo de Barras</label>
                  <input ng-model="ctrl.chosenItemToAdd.codigo_ean" disabled>
                </md-input-container>
              </div>

              <div flex="25">
                <md-autocomplete 
                  md-floating-label="Produto" required="" md-input-minlength="2" md-input-maxlength="18"
                  md-selected-item-change="ctrl.selectedItemChange(item)" md-search-text="ctrl.searchProduto"
                  md-items="item in ctrl.querySearch(ctrl.searchProduto, 'produto')" md-item-text="item.descricao"
                  md-require-match=""   input-aria-describedby="favoriteStateDescription">
                  <md-item-template>
                    <span>{{item.descricao}}</span>
                  </md-item-template>
                </md-autocomplete>
              </div>
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Quantidade</label>
                  <input ng-model="ctrl.chosenItemToAdd.quantidade" ui-number-mask>
                </md-input-container>
              </div>
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Preço de venda</label>
                  <input ng-model="ctrl.chosenItemToAdd.vl_venda" ui-number-mask>
                </md-input-container>
              </div>
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Desconto</label>
                  <input ng-model="ctrl.chosenItemToAdd.desconto" ui-number-mask value="0">
                </md-input-container>
              </div>
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Acrescimo</label>
                  <input ng-model="ctrl.chosenItemToAdd.acrescimo" ui-number-mask>
                </md-input-container>
              </div>
            </div>

            <div layout="row" layout-wrap="">
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>CFOP</label>
                  <input ng-model="ctrl.chosenItemToAdd.tributacao.cfop_dentro_estado">
                </md-input-container>
              </div>
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>CST</label>
                  <input ng-model="ctrl.chosenItemToAdd.tributacao.cst_base_venda">
                </md-input-container>
              </div>
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>NCM</label>
                  <input ng-model="ctrl.chosenItemToAdd.ncm">
                </md-input-container>
              </div>

              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Aliquota ICMS</label>
                  <input ng-model="ctrl.chosenItemToAdd.tributacao.aliq_icms_venda_dentro_estado" ui-number-mask
                    disabled>
                </md-input-container>
              </div>
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Base ICMS</label>
                  <input ng-model="ctrl.chosenItemToAdd.tributacao.base_icms" ui-number-mask
                    disabled>
                </md-input-container>
              </div>
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>valor ICMS</label>
                  <input ng-model="ctrl.chosenItemToAdd.tributacao.aliq_icms_venda_dentro_estado" ui-number-mask
                    disabled>
                </md-input-container>
              </div>
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Aliquota Ipi</label>
                  <input ng-model="ctrl.chosenItemToAdd.tributacao.aliq_icms_venda_dentro_estado" ui-number-mask
                    disabled>
                </md-input-container>
              </div>
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Base ICMS Subst</label>
                  <input ng-model="ctrl.chosenItemToAdd.tributacao.aliq_icms_venda_dentro_estado" ui-number-mask
                    disabled>
                </md-input-container>
              </div>
              <div flex="10">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>estoque atual</label>
                  <input ng-model="ctrl.chosenItemToAdd.estoque_atual" ui-number-mask disabled>
                </md-input-container>
              </div>
            </div>
            <div layout="row" layout-wrap="">

              <div flex="10">
              </div>
              <div flex="" layout-padding="">
                
                <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                
                  <button class="md-primary" ng-click="ctrl.adicionarProduto()">Adicionar Produto</button>
                </section>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </md-content>
</div>

<div flex="100" layout-margin="">
  <md-card flex="100">
    <md-card-content>
      <div layout="row" layout-wrap="">
        <div class="my-custom-scrollbar table-wrapper-scroll-y">
          <table class="mdc-data-table__table ">
            <thead">
              <tr>
                <th></th>
                <th>ID</th>
                <th>Descricão</th>
                <th>CFOP</th>
                <th>CST</th>
                <th>QTD</th>
                <th>Valor</th>
                <th>Desc.</th>
                <th>Acresc.</th>
                <th>SubTotal</th>
                <th>Ações</th>
                <!-- <th style="display: none;">Total</th> -->
              </tr>
              </thead>
              <tbody class="mdc-data-table__content">
                <tr ng-repeat="item in ctrl.notaFiscal.itens" class="mdc-data-table__row">
                  <td class="mdc-data-table__cell">{{$index +1 }}</td>
                  <td class="mdc-data-table__cell">{{item.nota_itens.produtoId}}</td>
                  <td column-widths(500) class="mdc-data-table__cell" >{{item.descricao}}</td>
                  <td class="mdc-data-table__cell">{{item.nota_itens.cfop}}</td>
                  <td class="mdc-data-table__cell">{{item.nota_itens.cst}}</td class="mdc-data-table__cell">
                  <td class="mdc-data-table__cell">{{item.nota_itens.quantidade}}</td class="mdc-data-table__cell">
                  <td class="mdc-data-table__cell">R${{item.nota_itens.valor}}</td class="mdc-data-table__cell">
                  <td class="mdc-data-table__cell">R${{item.nota_itens.desconto}}</td class="mdc-data-table__cell">
                  <td class="mdc-data-table__cell">R${{item.nota_itens.acrescimo}} </td class="mdc-data-table__cell">
                  <td class="mdc-data-table__cell">R${{item.nota_itens.valor + item.nota_itens.acrescimo }} </td class="mdc-data-table__cell">
                  <td></td>
                  <!-- <td style="display: none;" class="mdc-data-table__cell"></td> -->
                </tr>

              </tbody>
              <tfoot></tfoot>
          </table>
        </div>
      </div>

    </md-card-content>
  </md-card>

</div>

<div flex="100" layout-margin="">
  <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
    <md-button class="md-primary" ng-click="ctrl.salvarAtualizar()">Salvar</md-button>
    <md-button ng-click="ctrl.cancelar()" class="md-warn">Cancelar</md-button>
  </section>
</div>




<div layout="row" layout-margin="" style="background-color: antiquewhite;">
  <div flex="" style="background-color: blueviolet;">Parent layout and this element have margins.</div>
</div>
<div layout="row" layout-padding="" style="background-color: brown;">
  <div flex="">Parent layout and this element have padding.</div>
</div>
<div layout="row" layout-fill="" style="background-color: darkblue;">
  <div flex="" style="background-color: darkgoldenrod;">Parent layout is set to fill available space.</div>
</div>
<div layout="row" layout-padding="" layout-margin="" layout-fill="" style=" background-color: fuchsia;">
  <div flex="">I am using all three at once.</div>
</div>


<style>
  table {
    text-align: center !important;
    width: 100%;
  }

  .mat-header-cell {
    text-align: center;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
    display: block;
  }
</style>