<div ng-cloak>
  
  <md-content layout-margin="">
    <div layout-wrap="" layout="row">
      <div flex="100" layout="row">
        <div flex="" layout-margin="">
          <h3>Informações do Produto</h3>
        </div>
      </div>
      <md-card flex="100">
        <md-card-content>
          <div layout="row" layout-wrap="">
            <div flex="10">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Código Interno</label>
                <input ng-model="ctrl.produto.id" disabled>
              </md-input-container>
            </div>
            <div flex="15">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Código Referencia</label>
                <input ng-model="ctrl.produto.referencia">
              </md-input-container>

            </div>
            <div flex="25">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Código Barras(EAN)</label>
                <input ng-model="ctrl.produto.codigo_ean">
              </md-input-container>
            </div>
            <div flex="33">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Descricao</label>
                <input ng-model="ctrl.produto.descricao">
              </md-input-container>

            </div>
            <div flex="17">
              <md-input-container>
                <md-select ng-model="ctrl.produto.status" placeholder="Status do produto">
                  <md-option ng-value="opt" ng-repeat="opt in neighborhoods2">{{ opt }}</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </md-card-content>
      </md-card>
      <div flex="33">

        <div flex="100" layout="row">
          <div flex="" layout-margin="">
            <h3>Tributação</h3>
          </div>
        </div>
        <md-card flex="100">
          <md-card-content>
            <div layout="row" layout-wrap="">
              <div flex="30">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>NCM</label>
                  <input ng-model="ctrl.produto.ncm">
                </md-input-container>
              </div>
              <div flex="60">
                <md-input-container>
                  <label>Tributos</label>
                  <md-select ng-model="ctrl.userState">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="state in ctrl.states" ng-value="state.abbrev" ng-disabled="$index === 1">
                      {{state.abbrev}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
      <div flex="33">

        <div flex="100" layout="row">
          <div flex="" layout-margin="">
            <h3>Estoque</h3>
          </div>
        </div>
        <md-card flex="100">
          <md-card-content>
            <div layout="row" layout-wrap="">
              <div flex="33">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Minimo</label>
                  <input ng-model="ctrl.produto.estoque_minimo" ui-number-mask>
                </md-input-container>
              </div>
              <div flex="33">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Maximo</label>
                  <input ng-model="ctrl.produto.estoque_maximo" ui-number-mask>
                </md-input-container>
              </div>
              <div flex="33">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Atual</label>
                  <input ng-model="ctrl.produto.estoque_atual" ui-number-mask>
                </md-input-container>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
      <div flex="33">

        <div flex="100" layout="row">
          <div flex="" layout-margin="">
            <h3>Preços</h3>
          </div>
        </div>
        <md-card flex="100">
          <md-card-content>
            <div layout="row" layout-wrap="">
              <div flex="50">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Custo</label>
                  <input ng-model="ctrl.produto.vl_custo" ui-number-mask>
                </md-input-container>
              </div>
              <div flex="50">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Venda</label>
                  <input ng-model="ctrl.produto.vl_venda"  ui-hide-group-sep ui-hide-space ui-money-mask >
                </md-input-container>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
      <div flex="100" layout-margin="">
        <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
          <md-button class="md-primary" ng-click="ctrl.salvarAtualizar()">Salvar</md-button>
          <md-button ng-click="ctrl.cancelar()" class="md-warn">Cancelar</md-button>
        </section>

      </div>

    </div>
  </md-content>
</div>