<md-toolbar>
  <md-fab-actions class="md-toolbar-tools">
    <md-button ng-click="ctrl.novoProduto()" aria-label="comment" class="md-icon-button-primary">
      <i class="fas fa-user-plus"> produtos</i>
    </md-button>
    <md-button ng-click="ctrl.novoProduto()" aria-label="comment" class="md-icon-button-primary">
      <i class="fas fa-user-plus"> Grupos</i>
    </md-button>
</md-toolbar>
</md-fab-toolbar>
<div >

  <div class="nav-header" ng-click="doTheBack()">Reverse!</div>
  <md-list>
    <md-list-item  class="noright" ng-repeat="(key, produto) in ctrl.produtos">
      <i class="fas fa-user-alt" style="margin-right: 2%;"></i>
      <p> <strong>{{ produto.descricao }}</strong>  <i style="color: #B6B6B6"layout-align="end center">atualizado: {{produto.log_atualizacao | date: 'dd/MM/yyyy'}}</i> </p>
      
      <md-button  ng-click="ctrl.irProduto(produto.id)" class="md-icon-button md-primary" arial-label="Mora">
        <i class="fas fa-address-card"></i>
      </md-button>
      <md-button ng-click="ctrl.remover(produto.id) " class="md-icon-button md-warn" >
        <md-icon class="fas fa-trash-alt" ></md-icon>
      </md-button>
      <!-- <i class="fas fa-plus-circle" style="margin-right: 2%;"> </i> -->
      <!-- <md-icon class="md-secondary"  aria-label="Chat" md-svg-icon="communication:message"></md-icon> -->
    </md-list-item>
  </md-list>
</div>