
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Cadastro">
        <md-content class="md-padding">
            <md-content layout-padding>

          <h3 >Dados dos clientes</h3>
          <div layout-gt-xs="row">
            <div class="flex-40">
                <md-input-container class="md-block" flex-md-xs>
                    <label>Nome</label>
                    <input ng-model="ctrl.cliente.nome" >
                  </md-input-container>
            </div>            
            <div class="flex-30">
                <md-input-container ng-show="ctrl.cliente.tipo=='pj'"> 
                    <label>Data de Fundação </label>
                    <input ng-model="ctrl.cliente.data_fundacao" aria-label="Enter date"></input>
                </md-input-container>
            </div>

            <div class="flex-40" ng-show="ctrl.cliente.tipo=='pf'">
                <md-input-container ng-show="ctrl.cliente.tipo=='pf'"> 
                  <label>Data Nascimento </label>
                  <input ng-model="ctrl.cliente.data_nascimento" aria-label="Enter date"></input>
                </md-input-container>
            </div>

            <md-radio-group class="flex-30">
                <md-radio-button name="tipo" ng-model="ctrl.cliente.tipo" value="pf" class="md-primary">Pessoa Fisica</md-radio-button>
                <md-radio-button name="tipo" ng-model="ctrl.cliente.tipo" value="pj"> Pessoa juridica </md-radio-button>                          
            </md-radio-group>
            <md-radio-group class="flex-30">
                <md-radio-button name="sexo" ng-model="ctrl.cliente.sexo" value="masculino" class="md-primary">Masculino</md-radio-button>
                <md-radio-button name="sexo" ng-model="ctrl.cliente.sexo" value="feminino"> Feminino</md-radio-button>                          
            </md-radio-group>
            
          </div>
          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-md-xs>
              <label>Estado Civil</label>
              <input ng-model="ctrl.cliente.estado_civil" ng-disabled="ctrl.cliente.tipo=='pj'">
            </md-input-container>  
            <md-input-container>
              <label>Nacionalidade </label>
              <input ng-model="ctrl.cliente.nacionalidade" ng-disabled="ctrl.cliente.tipo='pj'"></input>
            </md-input-container>
            <md-input-container>
              <label>RG</label>
                <input ng-model="ctrl.cliente.rg" ng-disabled="ctrl.cliente.tipo =='pj'"></input>
                </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label ng-show="ctrl.cliente.tipo =='pf'">CPF</label>
              <label ng-show="ctrl.cliente.tipo =='pj'">CNPJ</label>
              <input ng-model="ctrl.cliente.cpf_cnpj">
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label >Nome Fantasia</label>
              <input ng-model="ctrl.cliente.nome_fantasia" ng-disabled="ctrl.cliente.tipo=='pf' ">
            </md-input-container>     

            <md-input-container class="md-block" flex-gt-sm>
               <label>Inscrição Estadual</label>
               <input ng-model="ctrl.cliente.inscricao_estadual" ng-disabled="ctrl.cliente.tipo == 'pf'">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>E-mail</label>              
              <input ng-model="ctrl.cliente.email">
            </md-input-container>
          </div>
        </md-content>  
        </md-content>
      </md-tab>
      <md-tab label="telefones">
        <md-content class="md-padding">
          <h3 >Cadastre os telefones de contato</h3>   

          <div layout-gt-sm="row"ng-repeat="telefone in ctrl.cliente.telefones" >
            <md-input-container class="md-block" flex-mt-md>
              <label >Numero de telefone {{1 + $index}}</label>
              <input ng-model="telefone.numero" >
            </md-input-container>
            <md-input-container class="md-block" flex-mt-md>
              <select>
                <option >{{telefone.tipo}}</option>
              </select>
            </md-input-container>
            <md-input-container class="md-block" flex-mt-md ng-click="ctrl.removerTelefone($index)">                
              <button >-</button>
            </md-input-container>
            <md-input-container class="md-block" flex-mt-md>                
              <button ng-click="ctrl.addTelefone()">+</button>
            </md-input-container>  
          </div>
        
        </md-content>
      </md-tab>
      <md-tab label="Endereços">
        <md-content class="md-padding">
          <h3 >informe os endereços</h3>
          
          <div ng-repeat="(key, endereco)  in ctrl.cliente.enderecos">
            
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-md-xs>
                  <label>Endereço</label>
                  <input ng-model="endereco.ender" >
                </md-input-container>
                <md-input-container class="md-block" flex-md-xs>
                    <label>Complemento</label>
                    <input ng-model="endereco.complemento" >
                </md-input-container>  
                <md-input-container class="md-block" flex-md-xs>
                    <label>Número</label>
                    <input ng-model="endereco.numero" >
                </md-input-container>
                <md-input-container class="md-block" flex-md-xs>
                    <label>bairro</label>
                    <input ng-model="endereco.bairro" >
                </md-input-container>
              </div>
              <div layout-gt-xs="row">
                <md-input-container>
                  <label>Estado</label>
                    <input ng-model="endereco.cidade"></input>
                </md-input-container>
  
                  <md-input-container>
                  <label>UF</label> 
                    <input ng-model="endereco.uf" ></input>
                  </md-input-container>
              </div>
              <hr ng-show="!$last"/>
                </div> 
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>