<div>

    <div layout-wrap="" layout-margin="" >
        <md-card layout-margin="">
            <md-card-content>
                <md-list-item ng-repeat="nota in ctrl.notas" class="noright">
                    <p> {{nota.id}} - <strong>{{ nota.pessoa.nome}}</strong> {{nota.data_emissao}}</p>
                    <md-checkbox class="md-secondary" ng-model="person.selected " style="display: none;"></md-checkbox>
                    <md-icon md-font-icon="fas fa-trash-alt" ng-click="ctrl.remover(nota.id)" aria-label="Excluir"
                        class="md-secondary md-hue-3 md-warn"></md-icon>
                    <md-icon md-font-icon="fas fa-edit" ng-click="ctrl.editar(nota.id)" 
                    class="md-secondary md-hue-3" aria-label="Chat"></md-icon>
                    <!-- <md-divider md-inset ng-if="!$last"></md-divider> -->
                </md-list-item>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="end center">
                PAGINAS:
                <md-button   class="md-icon-button" ng-repeat="pagina in ctrl.quantidade_registro()"> {{pagina}}</md-button>
               
            </md-card-actions>
        </md-card>

    </div>





  
  


</div>