<div>

    <div layout-wrap="" layout-margin="" >
        <md-card layout-margin="">
            <md-card-content>
                <md-list-item ng-repeat="nota in ctrl.notas" class="noright">
                    <p> {{nota.id}} - <strong>{{ nota.pessoa.nome}}</strong> {{nota.data_emissao}}</p>
                    <md-checkbox class="md-secondary" ng-model="person.selected " style="display: none;"></md-checkbox>
                    <md-icon md-font-icon="fas fa-trash-alt" ng-click="ctrl.remover(nota.id)" aria-label="Excluir"
                        class="md-secondary md-hue-3 md-warn"></md-icon>
                    <md-icon md-font-icon="fas fa-edit" ng-click="ctrl.editar(nota.id)"
                        class="md-secondary md-hue-3" aria-label="Chat"></md-icon>
                </md-list-item>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Anterior</md-button>
                <md-button>Atual</md-button>
                <md-button>proximo</md-button>
            </md-card-actions>
        </md-card>

    </div>


</div>